* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(72, 189, 101) ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background-color: white;
    
}
