@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(72, 189, 101) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.container {
    background-color: white;
    width: 30vw;
    height: 40vh;
    box-shadow: 5px 5px 10px gray ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-field {
    position: relative;
    bottom: 2vh;
    padding: 12px;
}

.login-field input {
    width: 22vw;
    height: 6vh;
    padding: 10px;
    font-size: 1em;
    color: rgb(150, 148, 148);
    background: rgb(212, 211, 211);
    border: none;
}

.btn {
    position: relative;
}

.btn input {
    font-size: 1.1em;
    font-weight: 400;
    padding: 12px;
    width: 22vw;
    border: none;    
    color: rgb(236, 238, 236);
    background: rgb(26, 219, 68);
    cursor: pointer;
}

.register {
    position: relative;
    top: 15px;
}

.acc {
    color: rgb(172, 171, 171);
}

a {
    text-decoration: none;
    color: lime;
}